.intro-container {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
}

.intro-content {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 170px;
  color: brown;
}

.show-button {
  border: 2px solid yellow;
  width: 230px;
  margin-left: 480px;
  font-size: 20px;
  background-color: tan;
  font-weight: bold;
}
