.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
  border: solid 4px blue;
}

.navBarContainer {
  width: 100%;
  height: 100%;
  border: 10px solid green;
}

#logo img {
  width: 100%;
  height: 300px;
  border: 2px solid yellow;
  background-color: rgb(212, 220, 78);
}

/*
Pink: Outline of App
Green: Outline of NavBar Container
Black: Outline of Logo Container
Blue: Outline of Navbar
Yellow: Outline of Image
*/
