#logo {
  display: flex;
  color: blue;
  /*border: solid 2px black;*/
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
  /*border: solid 4px blue;*/
  width: 800px;
  margin-left: 30%;
}

.navBarContainer {
  width: 100%;
  background-color: grey;
  /*border: 10px solid green;*/
}
