.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
}

.navBarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;
}

#logo img {
  width: 100%;
  height: 300px;
  background-color: rgb(212, 220, 78);
}

.nav-links {
  font-weight: bold;
  font-size: 20px;
}

a:visited {
  text-decoration: line-through;
}

a:active {
  text-decoration: underline;
}

a:hover {
  color: whitesmoke;
}

/*
Pink: Outline of App
Green: Outline of NavBar Container
Black: Outline of Logo Container
Blue: Outline of Navbar
Yellow: Outline of Image
*/
